<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

    <!-- Toolbar -->
    <div class="toolbar" role="banner">
        <div class="spacer">
            PRUEBA TÉCNICA - FULLSTACK DEVELOPER
        </div>
    </div>

    <div class=" content " role="main ">
        <img class="main-logo" alt="Logo Banco de Bogota" src="https://static.wixstatic.com/media/1230c2_27de6d96074c4236bbc86f5a5fa5a96c.png/v1/fill/w_560,h_560,al_c,lg_1,q_85/1230c2_27de6d96074c4236bbc86f5a5fa5a96c.webp" />

        <!-- Botones Principales -->
        <h1>PersonApp</h1>
        <p>Aplicacion para la gestión de información de base de datos. Stack completo: PostgreSQL-Express-Angular-NodeJs</p>

        <div class="card-container ">
            <button (click)="crear=!crear" class="card " target="_blank " rel="noopener "> Crear Persona </button>
            <button (click)="ver=!ver" class="card " target="_blank " rel="noopener "> Ver listado Completo </button>
            <button (click)="modificar=!modificar" class="card " target="_blank " rel="noopener "> Modificar Persona </button>
            <button (click)="eliminar=!eliminar" class="card " target="_blank " rel="noopener "> Eliminar Persona </button>
            <button (click)="adoptar=!adoptar" class="card " target="_blank " rel="noopener "> Adoptar </button>
        </div>

        <div *ngIf="crear" class="card-container main">
            <app-crear-persona></app-crear-persona>
        </div>

        <div *ngIf="ver" class="card-container main">
            <app-ver-persona></app-ver-persona>
        </div>
        <div *ngIf="modificar" class="card-container main">
            <app-modificar-persona></app-modificar-persona>
        </div>
        <div *ngIf="eliminar" class="card-container main">
            <app-eliminar-persona></app-eliminar-persona>
        </div>
        <div *ngIf="adoptar" class="card-container main">
            <app-adoptar-persona></app-adoptar-persona>
        </div>


        <!-- Links -->
        <div class="card-container ">
            <a class="circle-link " title="Animations " href="https://www.linkedin.com/in/andr%C3%A9s-andrade-51962b105/" target="_blank " rel="noopener ">
                <img src="https://nakedsecurity.sophos.com/wp-content/uploads/sites/2/2017/12/linkedin.png?w=780&h=408&crop=1" style="width: 150%;" />
            </a>
            <a class="circle-link " title="Animations " href="https://github.com/aaandrades" target="_blank " rel="noopener ">
                <img src="https://stagewp.sharethis.com/wp-content/uploads/2018/02/github.png" style="width: 100%;" />
            </a>
            <a class="circle-link " title="Animations " href="https://bitbucket.org/aaandrades/pruebabb/" target="_blank " rel="noopener ">
                <img src="https://www.adaptavist.com/assets/preventing-SHA-1-collision-attacks-in-Atlassian-Bitbucket.png" style="width: 100%;" />
            </a>
        </div>

        <!-- Footer -->
        <footer>
            <p>Andrés A. Andrade S.<br>Fullstack Developer
                <br>Ingeniero Catastral y Geodesta</p>

        </footer>

        <svg id="clouds " alt="Gray Clouds Background " xmlns="http://www.w3.org/2000/svg " width="1911.084 " height="285.677 " viewBox="0 0 2611.084 485.677 ">
  <path id="Path_39 " data-name="Path 39 " d="M2379.709,863.793c10-93-77-171-168-149-52-114-225-105-264,15-75,3-140,59-152,133-30,2.83-66.725,9.829-93.5,26.25-26.771-16.421-63.5-23.42-93.5-26.25-12-74-77-130-152-133-39-120-212-129-264-15-54.084-13.075-106.753,9.173-138.488,48.9-31.734-39.726-84.4-61.974-138.487-48.9-52-114-225-105-264,15a162.027,162.027,0,0,0-103.147,43.044c-30.633-45.365-87.1-72.091-145.206-58.044-52-114-225-105-264,15-75,3-140,59-152,133-53,5-127,23-130,83-2,42,35,72,70,86,49,20,106,18,157,5a165.625,165.625,0,0,0,120,0c47,94,178,113,251,33,61.112,8.015,113.854-5.72,150.492-29.764a165.62,165.62,0,0,0,110.861-3.236c47,94,178,113,251,33,31.385,4.116,60.563,2.495,86.487-3.311,25.924,5.806,55.1,7.427,86.488,3.311,73,80,204,61,251-33a165.625,165.625,0,0,0,120,0c51,13,108,15,157-5a147.188,147.188,0,0,0,33.5-18.694,147.217,147.217,0,0,0,33.5,18.694c49,20,106,18,157,5a165.625,165.625,0,0,0,120,0c47,94,178,113,251,33C2446.709,1093.793,2554.709,922.793,2379.709,863.793Z
                " transform="translate(142.69 -634.312) " fill="#eee "/>
</svg>

    </div>
</body>

</html>