<h2>Creacion Nueva Persona</h2>


<form class="example-form">
    <table class="example-full-width" cellspacing="0">
        <mat-form-field class="example-full-width">
            <mat-label>Identificación</mat-label>
            <input #id matInput placeholder="103210321032" />
        </mat-form-field>
    </table>
    <mat-form-field class="example-full-width">
        <mat-label>Nombre Completo</mat-label>
        <input #name matInput placeholder="Andrés A. Andrade S." />
    </mat-form-field>
    <mat-form-field class="example-full-width" style="margin-left:10px">
        <mat-label>Nacimiento</mat-label>
        <input #fecha matInput placeholder="DD/MM/YYYY" />
    </mat-form-field>
    <p>
        <mat-form-field class="example-full-width">
            <mat-label>Email</mat-label>
            <input #email matInput placeholder="ejemplo@contoso.com" />
        </mat-form-field>
    </p>
</form>

<button mat-raised-button (click)="getTextBoxVal(id,name,fecha,email)" color="primary">Enviar Información</button>