<h2>Modificar Persona</h2>
<!-- <tr *ngFor="let customer of customerArray">
            <td>{{customer.firstname}}</td>
            <td>{{customer.lastname}}</td>
            <td>{{customer.age}}</td>
            <td>{{customer.whatever}}</td>
            <td>{{customer.whatever}}</td>
        </tr> -->
<p>modificar-persona works!</p>